
<div id="beeper-container" class="valign-wrapper">
  <button id='beeper' class="valign center-block btn waves-effect waves-light btn-large">Beep
    <i class="material-icons right">send</i>
  </button>
</div>

<div>
  <h3 class="center-align">Beep History</h3>
  <ul id="beeps" class="collection center-align"></ul>
</div>


<div id='map'></div>

<script>

var latLong = [-74.50, 40];

mapboxgl.accessToken = '<%== ENV['MAPBOX_API_KEY'] %>';

var map = new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/mapbox/streets-v9', //stylesheet location
    center: latLong, // starting position
    zoom: 9 // starting zoom
});

map.on('load', function () {
    // Add a source and layer displaying a point which will be animated in a circle.
    map.addSource('point', {
        "type": "geojson",
        "data": {
            "type": "Point",
            "coordinates": latLong
        }
    });

    map.addLayer({
        "id": "point",
        "source": "point",
        "type": "circle",
        "paint": {
            "circle-radius": 10,
            "circle-color": "#007cbf"
        }
    });
});

</script>

<script id="beep-template" type="text/template">
  <li id="msg-{uuid}" class="collection-item message">{displayMessage}</li>
</script>


<script>
  (function(){
    var $beepList = $('#beeps');
    var $beeper = $('#beeper');
    var template = $('#beep-template').html();
    var maxDisplay = 5;
    var supportsVibrate = "vibrate" in navigator;
    var beepPath = "<%= beep_path %>";

    function buzz(){
      if(supportsVibrate){
        console.log('BUZZ','Vibrating', navigator.vibrate);
        navigator.vibrate([500,500,500]);
      } else {
        console.log('BUZZ','Vibrate not available');
      }
    }

    function formatBeep(beep){
      var d = new Date(beep.time);
      return d.toString();
    }

    function insertBeep(beep){
      beep.displayMessage = formatBeep(beep);
      $beepList.prepend(nano(template, beep))
      // Only Keep maxDisplay
      $beepList.find(".message").slice(maxDisplay).remove();
      Materialize.toast(beep.displayMessage, 1000) // 4000 is the duration of the toast
      $beepList.effect( "shake" );
      buzz();
    }

    Beeps.onBeep(insertBeep);

    $beeper.click(function(event){
      event.preventDefault();
      $beeper.prop("disabled","disabled");
      var promise = $.post(beepPath);
      promise.done(function(){
        $beeper.prop("disabled",false);
      });
    });
  })();
</script>
